RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME}% !-l
RewriteRule ^(.+)$ index.php?page=$1 [L,QSA]
# RewriteRule ^(.+)$ login_signup.php?url=$1 [L,QSA]
# RewriteRule ^(.+)$ manager_main.php?page=$1


#RewriteRule ^(.+)$ login_signup.php?page=$1 [L,QSA]

